{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb-base"],
  "rules": {
    "indent": [2, "tab", { "SwitchCase": 1 }],
    "no-tabs": "off",
    "object-curly-newline": ["error", {
      "ExportDeclaration": { "multiline": true, "minProperties": 5 }
    }],
    "no-use-before-define": "off",
    "no-return-await": "off",
    "object-curly-spacing":"off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}